#login{
    width:50%;
    margin:auto;
    display: grid;
    gap:20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

#login>img{
    width:30%;
    margin-left: 50px;
}
#login form{
width:50%;
margin:auto;
}
h1{
    font-size: 28px;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;

}
input{
    width:95%;
    height:40px;
     border-radius: 5px;
     border: 0.3px solid grey;
     font-size: 16px;
}
#color{
    background-color: rgb(0, 115, 255);
    width:98%;
    border: 0px;
    color: white;
    border-radius: 5px;

}
#googlebtn{
    width:35%;
  margin-left: 70px;
  background-color:white;
  border: 0.3px solid grey;
  padding:13px 7px 6px 6px ;
  border-radius: 3px; 
}
#googlebtn:hover{
    background-color:rgb(209, 203, 203)

}
p{
    text-align: center;
    font-size: 19px;
}
.separateline{
    width:90%;
    display:flex;
    gap:5px;
}
a{
    text-decoration: none;
    color: blue ;
 }
 