#registerform{
    width:50%;
    margin:auto;
    border: 1px solid grey;
    display: grid;
    gap:30px;
    margin-top: 50px;
}
#registerform form{
    width:70%;
    margin:auto;   
}
h1{
    /* color:rgb(164, 163, 163); */
font-weight:100;
font-family: Arial, Helvetica, sans-serif;

}
input{
    width:95%;
    height:40px;
     border-radius: 5px;
     border: 0.3px solid grey;
}
#checkbox_info{
    display: flex;
   gap:5px;
}
#color{
    background-color: rgb(0, 115, 255);
    width:50%;
    border: 0px;
    color: white;
    border-radius: 5px;
    margin-left: 70px;

}
#box{
    width:20px;
}